@{
    Layout = null;
    var isAuth = Context.User?.Identity?.IsAuthenticated ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RottenTasks</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar">
        <a class="brand" href="@Url.Action("Index","Tasks")">RottenTasks</a>
        <div class="nav-right">
            @if (isAuth)
            {
                <span>@User.Identity.Name</span>
                <a href="@Url.Action("Create","Tasks")">Nueva Tarea</a>
                <a href="@Url.Action("Logout","Account")">Salir</a>
            }
            else
            {
                <a href="@Url.Action("Login","Account")">Ingresar</a>
                <a href="@Url.Action("Register","Account")">Registrarse</a>
            }
        </div>
    </nav>
    <main class="container">
        @RenderBody()
    </main>
    <div id="toast" class="toast" style="display:none"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>